Repository peterjohnson220/Client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PayFactors/integration, @Payfactors/normandy, @Payfactors/client-dependency-reviewers, @Payfactors/architecture

.github/CODEOWNERS:

# For info regarding this file, see: https://help.github.com/en/articles/about-code-owners

/apps/admin/app/_org-data-loader/               @PayFactors/integration
/libs/features/pf-data-grid/                    @Payfactors/normandy
package.json                                    @Payfactors/client-dependency-reviewers
package-lock.json                               @Payfactors/client-dependency-reviewers
angular.json                                    @Payfactors/architecture

IDEA-847: [PfDataGrid] Select ALL ribbon
  apps/employees/app/_employees/employees.page/employees.page.ts
  libs/features/pf-data-grid/components/index.ts
  libs/features/pf-data-grid/components/select-all-panel/index.ts
  libs/features/pf-data-grid/components/select-all-panel/select-all-panel.component.html
  libs/features/pf-data-grid/components/select-all-panel/select-all-panel.component.scss
  libs/features/pf-data-grid/components/select-all-panel/select-all-panel.component.ts
  libs/features/pf-data-grid/models/grid-config.model.ts
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.html
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.ts
  libs/features/pf-data-grid/pf-data-grid.module.ts
  libs/features/pf-data-grid/reducers/pf-data-grid.reducer.ts
Owners: @Payfactors/normandy

IDEA-890: Disable "Add Attachments" on Closed Tickets
  apps/service/app/_service/components/ticket-attachments/ticket-attachments.component.html
  apps/service/app/_service/components/ticket-attachments/ticket-attachments.component.scss
  apps/service/app/_service/components/ticket-attachments/ticket-attachments.component.ts
  apps/service/app/_service/components/tickets-details/tickets-details.component.html
Owners: none

IDEA-908: Select All ribbon count does not match selection count
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.html
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.ts
  libs/features/pf-data-grid/reducers/index.ts
  libs/features/pf-data-grid/reducers/pf-data-grid.reducer.ts
Owners: @Payfactors/normandy

SUP-512 Add Aging and MatchAdj to default settings
  apps/data-management/app/_pricing-loader/helpers/pricing-loader-settings.helper.ts
  libs/models/data-loads/loader-setting-key-names.model.ts
Owners: none

TS-530 TRS print waits for chart render before signal ready for PDF
  apps/total-rewards/app/_main/statement-assignment/effects/statement-assignment-page.effects.ts
  apps/total-rewards/app/_main/statement-assignment/models/generate-statements-request.model.ts
  apps/total-rewards/app/_print/statement-print/statement-print.page/statement-print.page.html
  apps/total-rewards/app/_print/statement-print/statement-print.page/statement-print.page.spec.ts
  apps/total-rewards/app/_print/statement-print/statement-print.page/statement-print.page.ts
  apps/total-rewards/app/shared/components/total-rewards-statement/__snapshots__/total-rewards-statement.component.spec.ts.snap
  apps/total-rewards/app/shared/components/total-rewards-statement/total-rewards-statement.component.html
  apps/total-rewards/app/shared/components/total-rewards-statement/total-rewards-statement.component.spec.ts
  apps/total-rewards/app/shared/components/total-rewards-statement/total-rewards-statement.component.ts
  apps/total-rewards/app/shared/components/trs-chart-control/__snapshots__/trs-chart-control.component.spec.ts.snap
  apps/total-rewards/app/shared/components/trs-chart-control/trs-chart-control.component.html
  apps/total-rewards/app/shared/components/trs-chart-control/trs-chart-control.component.ts
  apps/total-rewards/app/shared/components/trs-rich-text-control/trs-rich-text-control.component.html
  apps/total-rewards/app/shared/constants/trs-constants.ts
  apps/total-rewards/app/shared/models/chart-control.ts
  apps/total-rewards/app/shared/models/statement.ts
Owners: none

IDEA-903
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/employees-grid/employees-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/employees-grid/employees-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/not-priced-paymarkets-grid/not-priced-paymarkets-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/not-priced-paymarkets-grid/not-priced-paymarkets-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-history-grid/pricing-history-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-history-grid/pricing-history-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/project-details-grid/project-details-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/project-details-grid/project-details-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/structure-grid/structure-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/structure-grid/structure-grid.component.ts
  apps/jobs/app/_jobs-page/jobs.page/jobs.page.html
  apps/jobs/app/_jobs-page/jobs.page/jobs.page.ts
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.ts
  libs/models/payfactors-api/search/request/search-request.model.ts
Owners: @Payfactors/normandy

ENG-330
  apps/legacy-content/app/_peer/containers/pages/upsert-data-cut/upsert-data-cut.page.html
  apps/legacy-content/app/_peer/containers/pages/upsert-data-cut/upsert-data-cut.page.ts
  apps/legacy-content/app/_peer/effects/index.ts
  apps/legacy-content/app/_peer/peer.module.ts
  apps/legacy-content/app/_peer/reducers/index.ts
  libs/features/peer/guidelines-badge/index.ts
  libs/features/peer/index.ts
  libs/features/upsert-peer-data-cut/actions/index.ts
  libs/features/upsert-peer-data-cut/actions/request-peer-access.actions.ts
  libs/features/upsert-peer-data-cut/actions/upsert-peer-data-cut.actions.ts
  libs/features/upsert-peer-data-cut/components/index.ts
  libs/features/upsert-peer-data-cut/components/upsert-peer-data-cut/__snapshots__/upsert-peer-data-cut.component.spec.ts.snap
  libs/features/upsert-peer-data-cut/components/upsert-peer-data-cut/index.ts
  libs/features/upsert-peer-data-cut/components/upsert-peer-data-cut/upsert-peer-data-cut.component.html
  libs/features/upsert-peer-data-cut/components/upsert-peer-data-cut/upsert-peer-data-cut.component.scss
  libs/features/upsert-peer-data-cut/components/upsert-peer-data-cut/upsert-peer-data-cut.component.spec.ts
  libs/features/upsert-peer-data-cut/components/upsert-peer-data-cut/upsert-peer-data-cut.component.ts
  libs/features/upsert-peer-data-cut/effects/index.ts
  libs/features/upsert-peer-data-cut/effects/request-peer-access.effects.ts
  libs/features/upsert-peer-data-cut/effects/upsert-peer-data-cut.effects.ts
  libs/features/upsert-peer-data-cut/index.ts
  libs/features/upsert-peer-data-cut/reducers/index.ts
  libs/features/upsert-peer-data-cut/reducers/request-peer-access.reducer.ts
  libs/features/upsert-peer-data-cut/reducers/upsert-peer-data-cut.reducer.ts
  libs/features/upsert-peer-data-cut/upsert-peer-data-cut.module.ts
Owners: none

TRS fix rich text editor overflow rules in PDF to match editor
  assets/scss/total-rewards/_rich-text-editor.scss
Owners: none

TS-528 - prevent filter subscription from firing on page load
  apps/total-rewards/app/_main/statement-assignment/statement-assignment.page/statement-assignment.page.ts
Owners: none

TS-352: Fix RTE date data-binding issue
  apps/total-rewards/app/_print/statement-print/effects/statement-print.page.effects.ts
  apps/total-rewards/app/shared/components/trs-rich-text-control/trs-rich-text-control.component.ts
Owners: none

IDEA-906: Inifinite scroll: Feature Flag implementation
  apps/employees/app/_employees/employees.page/employees.page.html
  apps/employees/app/_employees/employees.page/employees.page.spec.ts
  apps/employees/app/_employees/employees.page/employees.page.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/employees-grid/employees-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/not-priced-paymarkets-grid/not-priced-paymarkets-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-history-grid/pricing-history-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/project-details-grid/project-details-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/structure-grid/structure-grid.component.ts
  apps/jobs/app/_jobs-page/jobs.page/jobs.page.ts
  apps/service/app/_service/service.page/service.page.ts
  libs/core/services/feature-flags/feature-flags.ts
Owners: none

ARCH: Remove deprecated from feature flagging
  libs/core/services/feature-flags/feature-flag.service.ts
  libs/core/services/feature-flags/feature-flags.ts
  libs/core/services/feature-flags/launch-darkly/launch-darkly-feature-flag.service.ts
Owners: none

IDEA-913 - hide select all ribbon if nothing is showing. Grammar fix
  libs/features/pf-data-grid/components/select-all-panel/select-all-panel.component.html
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.html
Owners: @Payfactors/normandy

SUP-515 Add Subsidiary_Code to map-able fields
  libs/features/org-data-loader/constants/org-data-loader-constants.ts
Owners: none

Rename a variable
  apps/legacy-content/app/_peer/containers/pages/paymarket-exchange-scope/paymarket-exchange-scope.page.html
  apps/legacy-content/app/_peer/containers/pages/paymarket-exchange-scope/paymarket-exchange-scope.page.spec.ts
  apps/legacy-content/app/_peer/containers/pages/paymarket-exchange-scope/paymarket-exchange-scope.page.ts
  apps/legacy-content/app/_peer/effects/paymarket-exchange-scope.effects.ts
  apps/legacy-content/app/_peer/reducers/paymarket-exchange-scope.reducer.ts
  apps/peer/app/_map/actions/export-data-cuts.actions.ts
  apps/peer/app/_map/containers/export-data-cuts-modal/export-data-cuts-modal.component.ts
  apps/peer/app/_map/containers/pages/exchange-map/exchange-map.page.spec.ts
  apps/peer/app/_map/containers/pages/exchange-map/exchange-map.page.ts
  apps/peer/app/_map/effects/export-data-cuts.effects.ts
  libs/core/helpers/build-request.helper.ts
  libs/data/payfactors-api/peer/exchange-scope-api.service.ts
  libs/features/paymarket-management/containers/exchange-scopes/exchange-scopes.component.ts
  libs/features/paymarket-management/helpers/exchange-scopes.helper.ts
  libs/features/peer/exchange-explorer/actions/exchange-scope.actions.ts
  libs/features/peer/exchange-explorer/containers/exchange-scope-selector/exchange-scope-selector.component.spec.ts
  libs/features/peer/exchange-explorer/containers/exchange-scope-selector/exchange-scope-selector.component.ts
  libs/features/peer/exchange-explorer/effects/exchange-scope.effects.ts
  libs/features/peer/exchange-explorer/reducers/exchange-filter-context.reducer.ts
  libs/features/peer/exchange-explorer/reducers/exchange-scope.reducer.ts
  libs/features/peer/exchange-explorer/reducers/index.ts
  libs/models/payfactors-api/paymarket/request/add-paymarket-request.model.ts
  libs/models/payfactors-api/paymarket/request/update-paymarket-request.model.ts
  libs/models/peer/exchange-data-search-filter-context.model.ts
  libs/models/peer/exchange-scope/exchange-scope-item.model.ts
  libs/models/peer/requests/exchange-data-cuts-export-request.model.ts
  libs/models/peer/requests/upsert-exchange-scope-request.model.ts
Owners: none

IDEA-914 - updating item names in select all ribbon. Adding fall back to avoid weird grammar when nothing is set in grid config
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/not-priced-paymarkets-grid/not-priced-paymarkets-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.ts
  apps/jobs/app/_jobs-page/jobs.page/jobs.page.ts
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.html
Owners: @Payfactors/normandy

Fix axis to auto adjust max and min when mrp is big/small also move initial position of the legend so we don't get overflow when there is one job in the structure
  apps/structures/app/_job-based-range/employees/containers/employee-salary-range-chart/employee-salary-range-chart.component.ts
  apps/structures/app/_job-based-range/employees/data/employee-range-chart-service.ts
  apps/structures/app/_job-based-range/model/containers/job-based-range-chart/job-based-range-chart.component.ts
  apps/structures/app/_job-based-range/model/data/job-range-model-chart.service.ts
  apps/structures/app/_job-based-range/pricings/containers/pricings-salary-range-chart/pricings-salary-range-chart.component.ts
  apps/structures/app/_job-based-range/pricings/data/pricings-salary-range-chart-service.ts
Owners: none

IDEA-916 - putting employee history infinite scroll behind feature flag
  apps/employees/app/_employee-history/employee-history.page/employee-history.page.html
  apps/employees/app/_employee-history/employee-history.page/employee-history.page.ts
Owners: none

IDEA-910
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.scss
Owners: @Payfactors/normandy

Revert "Revert "SUP496 & SUP519 - add subsidiary and benefits to loader""
  apps/admin/app/_org-data-loader/constants/org-data-filename-constants.ts
  apps/admin/app/_org-data-loader/containers/pages/__snapshots__/manage-field-mappings.page.spec.ts.snap
  apps/admin/app/_org-data-loader/containers/pages/manage-field-mappings.page.html
  apps/admin/app/_org-data-loader/containers/pages/manage-field-mappings.page.ts
  apps/admin/app/_org-data-loader/helpers/org-data-filename-pattern-set-factory.ts
  apps/admin/app/_org-data-loader/models/org-data-filename-pattern-set.model.ts
  apps/data-management/app/_main/components/entity-picker/entity-picker.component.html
  apps/data-management/app/_main/components/entity-picker/entity-picker.component.spec.ts
  apps/data-management/app/_main/components/entity-picker/entity-picker.component.ts
  apps/data-management/app/_main/components/entity-upload/entity-upload.component.spec.ts
  apps/data-management/app/_main/components/file-mapping/file-mapping.component.spec.ts
  apps/data-management/app/_main/components/file-mapping/file-mapping.component.ts
  apps/data-management/app/_main/containers/pages/inbound/inbound-entity-selection/inbound-entity-selection.page.spec.ts
  apps/data-management/app/_main/containers/pages/org-data-load/org-data-load.component.html
  apps/data-management/app/_main/containers/pages/org-data-load/org-data-load.component.spec.ts
  apps/data-management/app/_main/containers/pages/org-data-load/org-data-load.component.ts
  apps/data-management/app/_main/helpers/payfactors-api-model-mapper.ts
  apps/data-management/app/_main/models/entity-choice.ts
  libs/constants/hris-api/org-data-entity-type.enum.ts
  libs/constants/permissions.ts
  libs/features/org-data-loader/components/field-mapper/field-mapper.component.ts
  libs/features/org-data-loader/constants/loader-settings-keys.enum.ts
  libs/features/org-data-loader/constants/loader-type.enum.ts
  libs/features/org-data-loader/constants/org-data-loader-constants.ts
  libs/features/org-data-loader/helpers/org-data-load-helper.ts
Owners: @PayFactors/integration

ARCH: Failsafe for feature flag property lookup
  libs/core/services/feature-flags/launch-darkly/launch-darkly-feature-flag.service.ts
Owners: none

[JDM] Can't edit Job Summary field in JD if data was added to the Template for that control
  apps/job-description-management/app/_job-description/components/controls/job-description-control.component.html
Owners: none

TS-537: Chart legend/key contains label even though calculation control contains all zeros
  apps/total-rewards/app/shared/components/total-rewards-statement/total-rewards-statement.component.spec.ts
  apps/total-rewards/app/shared/components/total-rewards-statement/total-rewards-statement.component.ts
  apps/total-rewards/app/shared/components/trs-calculation-control/__snapshots__/trs-calculation-control.component.spec.ts.snap
  apps/total-rewards/app/shared/components/trs-calculation-control/trs-calculation-control.component.spec.ts
  apps/total-rewards/app/shared/components/trs-calculation-control/trs-calculation-control.component.ts
Owners: none

PEER-604 - [ADD DATA MODAL] Filtering by Base 50th Slider doesn't Remove all Payfactors Peer Results that have 0 Available Data Cuts
  libs/features/survey-search/helpers/pricing-matches.helper.ts
  libs/features/survey-search/services/survey-search-effects.service.ts
  libs/models/payfactors-api/survey-search/request/pricing-matches-request.model.ts
Owners: none

TS-540: Rich Text Editor date formatting inconsistent in preview and PDF
  apps/total-rewards/app/_main/statement-edit/effects/statement-edit.page.effects.ts
  apps/total-rewards/app/_print/statement-print/effects/statement-print.page.effects.ts
Owners: none

IDEA-914: Store Historical Quick Price Data
  apps/comphub/app/_main/effects/summary-card.effects.ts
Owners: none

TS-544: CompanySettings.GetCompanySettings called twice on each page
  libs/features/app-root/app.component.ts
  libs/ui/common/loading/user-context/loading-user-context.component.ts
  libs/ui/layout-wrapper/containers/layout-wrapper/layout-wrapper.ts
Owners: none

STRUC-454: High Chart JBR Legend loses MRP information when midpoint is selected as a percentile
  apps/structures/app/_job-based-range/shared/helpers/payfactors-api-model-mapper.ts
Owners: none

TS-536 TRS canvas binds rich text data fields in preview in plain div vs. quill
  apps/total-rewards/app/shared/components/trs-rich-text-control/trs-rich-text-control.component.html
  apps/total-rewards/app/shared/components/trs-rich-text-control/trs-rich-text-control.component.spec.ts
  apps/total-rewards/app/shared/components/trs-rich-text-control/trs-rich-text-control.component.ts
  assets/scss/total-rewards/_rich-text-editor.scss
Owners: none

TS-398 TRS edit stmt > prevent footer from overlapping canvas
  apps/total-rewards/app/_main/statement-edit/statement-edit.page/statement-edit.page.scss
  apps/total-rewards/app/shared/components/footer-bar/footer-bar.component.html
  apps/total-rewards/app/shared/components/footer-bar/footer-bar.component.scss
  assets/scss/total-rewards/_statement-layout-variables.scss
Owners: none

IDEA-897
  apps/comphub/app/_main/containers/cards/summary/__snapshots__/summary.card.component.spec.ts.snap
  apps/comphub/app/_main/containers/cards/summary/summary.card.component.html
  apps/comphub/app/_main/containers/cards/summary/summary.card.component.scss
  apps/comphub/assets/_comphub-variables.scss
  libs/core/pipes/parse-job-description.pipe.ts
Owners: none

SUP519 - align with db
  libs/features/org-data-loader/constants/org-data-loader-constants.ts
Owners: none

ENG-343: Combining Priced and Unpriced Pay Markets into one Grid
  apps/jobs/app/_jobs-page/actions/jobs-page.actions.ts
  apps/jobs/app/_jobs-page/components/column-templates/pricing-matches-job-title/pricing-matches-job-title.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/index.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/job-description/job-description.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/job-description/job-description.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/not-priced-paymarkets-grid/not-priced-paymarkets-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/not-priced-paymarkets-grid/not-priced-paymarkets-grid.component.scss
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/not-priced-paymarkets-grid/not-priced-paymarkets-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/paymarkets-grid/paymarkets-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/paymarkets-grid/paymarkets-grid.component.scss
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/paymarkets-grid/paymarkets-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.scss
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-matches-grid/pricing-matches-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-matches-grid/pricing-matches-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/jobs-details.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/jobs-details.component.ts
  apps/jobs/app/_jobs-page/constants/page-view-id-constants.ts
  apps/jobs/app/_jobs-page/effects/jobs-page.effects.ts
  apps/jobs/app/_jobs-page/jobs-page.module.ts
  apps/jobs/app/_jobs-page/jobs.page/jobs.page.html
  apps/jobs/app/_jobs-page/jobs.page/jobs.page.ts
  apps/jobs/app/_jobs-page/reducers/index.ts
  apps/jobs/app/_jobs-page/reducers/jobs-page.reducer.ts
  apps/paymarkets/app/_paymarkets/paymarkets.page/paymarkets.page.ts
  libs/core/pipes/comp.pipe.ts
  libs/features/notes-manager/notes-manager/notes-manager.component.ts
  libs/features/pf-data-grid/actions/pf-data-grid.actions.ts
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.html
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.ts
  libs/features/pf-data-grid/effects/pf-data-grid.effects.ts
  libs/features/pf-data-grid/helpers/data-grid-to-data-views.helper.ts
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.ts
  libs/features/pf-data-grid/pf-data-grid.module.ts
  libs/features/pf-data-grid/pipes/index.ts
  libs/features/pf-data-grid/pipes/is-sortable.pipe.ts
  libs/features/pf-data-grid/reducers/index.ts
  libs/features/pf-data-grid/reducers/pf-data-grid.reducer.ts
  libs/models/index.ts
Owners: @Payfactors/normandy

Removing the undo causing infinite loops.
  apps/total-rewards/app/shared/components/trs-rich-text-control/trs-rich-text-control.component.ts
Owners: none

Removing padding so the containers are all aligned
  apps/comphub/app/_main/containers/cards/summary/__snapshots__/summary.card.component.spec.ts.snap
  apps/comphub/app/_main/containers/cards/summary/summary.card.component.html
Owners: none

TS-357: Display values sum from 0-1k as 1k.
  apps/total-rewards/app/shared/components/trs-chart-control/trs-chart-control.component.spec.ts
  apps/total-rewards/app/shared/components/trs-chart-control/trs-chart-control.component.ts
Owners: none

Creation of the jobs hierarchy page
  apps/admin/app/_jobs-hierarchy/actions/jobs-hierarchy.actions.ts
  apps/admin/app/_jobs-hierarchy/containers/jobs-hierarchy-form/jobs-hierarchy-form.component.html
  apps/admin/app/_jobs-hierarchy/containers/jobs-hierarchy-form/jobs-hierarchy-form.component.scss
  apps/admin/app/_jobs-hierarchy/containers/jobs-hierarchy-form/jobs-hierarchy-form.component.spec.ts
  apps/admin/app/_jobs-hierarchy/containers/jobs-hierarchy-form/jobs-hierarchy-form.component.ts
  apps/admin/app/_jobs-hierarchy/containers/pages/jobs-hierarchy-page/jobs-hierarchy.page.html
  apps/admin/app/_jobs-hierarchy/containers/pages/jobs-hierarchy-page/jobs-hierarchy.page.scss
  apps/admin/app/_jobs-hierarchy/containers/pages/jobs-hierarchy-page/jobs-hierarchy.page.ts
  apps/admin/app/_jobs-hierarchy/effects/jobs-hierarchy.effects.ts
  apps/admin/app/_jobs-hierarchy/helpers/index.ts
  apps/admin/app/_jobs-hierarchy/helpers/payfactors-api-parameter-mapper.helper.ts
  apps/admin/app/_jobs-hierarchy/jobs-hierarchy-routing.module.ts
  apps/admin/app/_jobs-hierarchy/jobs-hierarchy.module.ts
  apps/admin/app/_jobs-hierarchy/reducers/index.ts
  apps/admin/app/_jobs-hierarchy/reducers/jobs-hierarchy.reducer.ts
  apps/admin/app/app-routing.module.ts
  libs/constants/permissions.ts
  libs/constants/structures/hierarchy-grouping-type.ts
  libs/core/services/feature-flags/feature-flags.ts
  libs/data/payfactors-api/company/company-job-api.service.ts
  libs/models/jobs-hierarchy/index.ts
  libs/models/jobs-hierarchy/selected-job-families.model.ts
  libs/security/guards/jobs-hierarchy-page.guard.ts
  libs/security/security.module.ts
Owners: none

IDEA-909 [ADMIN] Add Link to Company Notes
  apps/admin/app/_tickets/containers/company-detail-card/__snapshots__/company-detail-card.component.spec.ts.snap
  apps/admin/app/_tickets/containers/company-detail-card/company-detail-card.component.html
  apps/admin/app/_tickets/containers/company-detail-card/company-detail-card.component.scss
  apps/admin/app/_tickets/containers/company-detail-card/company-detail-card.component.spec.ts
  apps/admin/app/_tickets/containers/company-detail-card/company-detail-card.component.ts
  apps/admin/app/_tickets/fa-icons.ts
  apps/admin/app/_tickets/helpers/payfactors-api-model-mapper.ts
  apps/admin/app/_tickets/models/company-detail.model.ts
  apps/admin/app/_tickets/tickets.module.ts
  apps/pf-admin/app/_companies/company.module.ts
  apps/pf-admin/app/_companies/components/index.ts
  apps/pf-admin/app/_companies/containers/companies-list/companies-list.component.html
  apps/pf-admin/app/_companies/containers/companies-list/companies-list.component.ts
  apps/pf-admin/app/_companies/containers/index.ts
  apps/pf-admin/app/_companies/effects/index.ts
  apps/pf-admin/app/_companies/reducers/index.ts
  libs/features/company/company-notes/actions/company-notes.actions.ts
  libs/features/company/company-notes/actions/index.ts
  libs/features/company/company-notes/company-notes-modal.module.ts
  libs/features/company/company-notes/components/company-notes-list/company-notes-list.component.html
  libs/features/company/company-notes/components/company-notes-list/company-notes-list.component.scss
  libs/features/company/company-notes/components/company-notes-list/company-notes-list.component.spec.ts
  libs/features/company/company-notes/components/company-notes-list/company-notes-list.component.ts
  libs/features/company/company-notes/components/company-notes-list/index.ts
  libs/features/company/company-notes/components/index.ts
  libs/features/company/company-notes/containers/company-notes-modal/company-notes-modal.component.html
  libs/features/company/company-notes/containers/company-notes-modal/company-notes-modal.component.scss
  libs/features/company/company-notes/containers/company-notes-modal/company-notes-modal.component.spec.ts
  libs/features/company/company-notes/containers/company-notes-modal/company-notes-modal.component.ts
  libs/features/company/company-notes/containers/company-notes-modal/index.ts
  libs/features/company/company-notes/containers/index.ts
  libs/features/company/company-notes/effects/company-notes.effects.ts
  libs/features/company/company-notes/effects/index.ts
  libs/features/company/company-notes/index.ts
  libs/features/company/company-notes/reducers/company-notes.reducer.ts
  libs/features/company/company-notes/reducers/index.ts
  libs/features/index.ts
  libs/models/payfactors-api/service/response/user-ticket-company-detail-response.model.ts
Owners: none

ENG-383: Updated noRecordsFound message
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/paymarkets-grid/paymarkets-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/paymarkets-grid/paymarkets-grid.component.ts
Owners: none

ENG-383: Updated noRecordsFound message
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/paymarkets-grid/paymarkets-grid.component.html
Owners: none
