Repository peterjohnson220/Client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PayFactors/integration, @Payfactors/normandy, @Payfactors/client-dependency-reviewers, @Payfactors/architecture

.github/CODEOWNERS:

# For info regarding this file, see: https://help.github.com/en/articles/about-code-owners

/apps/admin/app/_org-data-loader/               @PayFactors/integration
/libs/features/pf-data-grid/                    @Payfactors/normandy
package.json                                    @Payfactors/client-dependency-reviewers
package-lock.json                               @Payfactors/client-dependency-reviewers
angular.json                                    @Payfactors/architecture

PEER-583 - [ADD DATA MODAL] Displayed / Overridden Network Selection in Peer Tab not updating Exchange Job filter
  libs/features/peer/exchange-selector/exchange-selector.component.ts
  libs/features/survey-search/components/job-result/__snapshots__/job-result.component.spec.ts.snap
  libs/features/survey-search/components/job-result/job-result.component.html
  libs/features/survey-search/components/job-result/job-result.component.spec.ts
  libs/features/survey-search/components/job-result/job-result.component.ts
  libs/features/survey-search/survey-search.module.ts
Owners: none

IDEA-865
  apps/total-rewards/app/shared/components/trs-image-control/trs-image-control.component.html
  apps/total-rewards/app/shared/components/trs-image-control/trs-image-control.component.scss
  apps/total-rewards/app/shared/components/trs-image-control/trs-image-control.component.ts
Owners: none

ENG-361 address issues
  libs/features/multi-match/components/job-to-price/job-to-price.component.html
  libs/features/multi-match/multi-match/multi-match.component.html
  libs/features/multi-match/multi-match/multi-match.component.ts
Owners: none

[RC-FIX] Hide Peer Org Weighted National Average Card for this Release
  libs/features/survey-search/components/job-result/job-result.component.html
  libs/features/survey-search/components/job-result/job-result.component.ts
Owners: none

ENG-326
  apps/jobs/app/_jobs-page/components/column-templates/pricing-matches-job-title/pricing-matches-job-title.component.html
  apps/jobs/app/_jobs-page/components/column-templates/pricing-matches-job-title/pricing-matches-job-title.component.scss
  apps/jobs/app/_jobs-page/components/column-templates/pricing-matches-job-title/pricing-matches-job-title.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-matches-grid/pricing-matches-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-matches-grid/pricing-matches-grid.component.ts
  apps/jobs/app/_jobs-page/constants/page-view-id-constants.ts
  apps/jobs/app/_jobs-page/jobs-page.module.ts
  libs/core/common.module.ts
  libs/core/pipes/comp.pipe.ts
  libs/core/pipes/index.ts
  libs/core/pipes/rate-currency-conversion.pipe.ts
  libs/data/payfactors-api/pricing/pricing-api.service.ts
  libs/features/index.ts
  libs/features/pf-data-grid/actions/pf-data-grid.actions.ts
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.html
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.ts
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.html
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.ts
  libs/features/pf-data-grid/reducers/pf-data-grid.reducer.ts
  libs/features/re-scope-survey-data/actions/index.ts
  libs/features/re-scope-survey-data/actions/re-scope-survey-data.actions.ts
  libs/features/re-scope-survey-data/effects/index.ts
  libs/features/re-scope-survey-data/effects/re-scope-survey-data.effects.ts
  libs/features/re-scope-survey-data/fa-icons.ts
  libs/features/re-scope-survey-data/index.ts
  libs/features/re-scope-survey-data/models/index.ts
  libs/features/re-scope-survey-data/models/re-scope-survey-data-context.ts
  libs/features/re-scope-survey-data/models/re-scope-survey-data-modal-configuration.ts
  libs/features/re-scope-survey-data/re-scope-survey-data.module.ts
  libs/features/re-scope-survey-data/re-scope-survey-data/re-scope-survey-data.component.html
  libs/features/re-scope-survey-data/re-scope-survey-data/re-scope-survey-data.component.scss
  libs/features/re-scope-survey-data/re-scope-survey-data/re-scope-survey-data.component.ts
  libs/features/re-scope-survey-data/reducers/index.ts
  libs/features/re-scope-survey-data/reducers/re-scope-survey-data.reducer.ts
  libs/models/payfactors-api/pricings/request/update-pricing-match-request.model.ts
  libs/models/payfactors-api/reports/request/data-view-data-request.model.ts
Owners: @Payfactors/normandy

IDEA-866 - wiring up preview employee
  apps/total-rewards/app/_main/statement-edit/actions/index.ts
  apps/total-rewards/app/_main/statement-edit/actions/preview.actions.ts
  apps/total-rewards/app/_main/statement-edit/actions/statement-edit.page.actions.ts
  apps/total-rewards/app/_main/statement-edit/effects/statement-edit.page.effects.ts
  apps/total-rewards/app/_main/statement-edit/reducers/index.ts
  apps/total-rewards/app/_main/statement-edit/reducers/statement-edit.page.reducer.ts
  apps/total-rewards/app/_main/statement-edit/statement-edit.module.ts
  apps/total-rewards/app/_main/statement-edit/statement-edit.page/statement-edit.page.html
  apps/total-rewards/app/_main/statement-edit/statement-edit.page/statement-edit.page.scss
  apps/total-rewards/app/_main/statement-edit/statement-edit.page/statement-edit.page.ts
  apps/total-rewards/app/_main/statement-list/containers/template-card-selector/template-card-selector.component.ts
  apps/total-rewards/app/shared/components/total-rewards-statement/total-rewards-statement.component.spec.ts
  apps/total-rewards/app/shared/components/total-rewards-statement/total-rewards-statement.component.ts
  apps/total-rewards/app/shared/components/trs-calculation-control/trs-calculation-control.component.spec.ts
  apps/total-rewards/app/shared/components/trs-calculation-control/trs-calculation-control.component.ts
  apps/total-rewards/app/shared/components/trs-chart-control/trs-chart-control.component.ts
  apps/total-rewards/app/shared/components/trs-rich-text-control/trs-rich-text-control.component.spec.ts
  apps/total-rewards/app/shared/components/trs-rich-text-control/trs-rich-text-control.component.ts
  apps/total-rewards/app/shared/components/trs-summary-control/trs-summary-control.component.spec.ts
  apps/total-rewards/app/shared/components/trs-summary-control/trs-summary-control.component.ts
  apps/total-rewards/app/shared/components/trs-title-control/trs-title-control.component.spec.ts
  apps/total-rewards/app/shared/components/trs-title-control/trs-title-control.component.ts
  apps/total-rewards/app/shared/models/index.ts
  apps/total-rewards/app/shared/models/statement-for-print.ts
  apps/total-rewards/app/shared/models/statement.ts
  apps/total-rewards/app/shared/services/total-rewards-assignment.service.ts
  apps/total-rewards/app/shared/services/total-rewards-statement.service.ts
  apps/total-rewards/styles.scss
  libs/data/payfactors-api/company/company-employee-api.service.ts
  libs/models/common/generic-name-value-dto.model.ts
  libs/models/payfactors-api/search/request/search-request.model.ts
  libs/models/payfactors-api/total-rewards/request/employee-search-request.model.ts
  libs/models/payfactors-api/total-rewards/response/employee-rewards-data.ts
  libs/models/payfactors-api/total-rewards/response/index.ts
Owners: none

TS-495 no Font Family in TRS settings/RTE until we have PDF support
  apps/total-rewards/app/_main/statement-edit/components/settings-panel/settings-panel.component.html
  apps/total-rewards/app/_main/statement-edit/components/settings-panel/settings-panel.component.spec.ts
  apps/total-rewards/app/_main/statement-edit/components/settings-panel/settings-panel.component.ts
  apps/total-rewards/app/shared/components/trs-rich-text-control/trs-rich-text-control.component.spec.ts
  apps/total-rewards/app/shared/components/trs-rich-text-control/trs-rich-text-control.component.ts
  environments/environment.prod.ts
  environments/environment.sales.ts
  environments/environment.staging.ts
  environments/environment.ts
Owners: none

IDEA-875
  apps/total-rewards/assets/images/no-employees.png
Owners: none

IDEA-868: Assigned Employees grid past 10k throws error
  apps/total-rewards/app/_main/statement-assignment/reducers/assigned-employees-grid.reducer.ts
Owners: none

Prevent history popup within a Job Description from immediately closing after clicking and dragging scroll bar
  apps/job-description-management/app/_job-description/containers/job-description-actions/job-description-actions.component.html
Owners: none

IDEA-859 - saving grid state in state to avoid issues during loading.
  apps/total-rewards/app/_main/statement-assignment/effects/assigned-employees-grid.effects.ts
  apps/total-rewards/app/_main/statement-assignment/effects/statement-assignment-page.effects.ts
  apps/total-rewards/app/_main/statement-assignment/statement-assignment.page/statement-assignment.page.ts
Owners: none

[RC-FIX] - PEER-514 - Disable Refine in Peer on Context Switch
  libs/features/survey-search/survey-search-results/survey-search-results.component.ts
Owners: none

oops
  apps/total-rewards/app/_main/statement-edit/statement-edit.page/statement-edit.page.scss
Owners: none

ENG-361 issue fix
  libs/features/multi-match/components/job-to-price/__snapshots__/job-to-price.component.spec.ts.snap
  libs/features/survey-search/helpers/payfactors-survey-search-api-model-mapper.helper.ts
Owners: none

ARCH-309: Remove unused CSS from style bundle
  Jenkinsfile
  Jenkinsfile_salesdemo
  gulpfile.js
  package-lock.json
  package.json
Owners: @Payfactors/client-dependency-reviewers

Prevents multiple text areas from being created when Add Note is clicked in Ticket area of Client Services
  apps/admin/app/_tickets/containers/ticket-comments-detail/ticket-comments-detail.component.ts
Owners: none

ARCH-309.1 - Whitelisting styles
  gulpfile.js
Owners: none

Clearing SmartList if copied JD has empty smartlist, and correctly adding blank data rows
  apps/job-description-management/app/_job-description/components/controls/job-description-control.component.ts
  apps/job-description-management/app/shared/components/control-data/smart-list-editor.component.ts
Owners: none

IDEA-878 - updated employee display. Updated transitions.
  apps/total-rewards/app/_main/statement-edit/statement-edit.page/statement-edit.page.html
  apps/total-rewards/app/_main/statement-edit/statement-edit.page/statement-edit.page.scss
  apps/total-rewards/app/shared/services/total-rewards-assignment.service.ts
  apps/total-rewards/styles.scss
Owners: none

ARCH-309.2: Whitelist mapbox
  gulpfile.js
Owners: none

IDEA-883 - preview mode issue. Adding loading state to statement to allow statement specific mask in edit page
  apps/total-rewards/app/_main/statement-edit/statement-edit.page/statement-edit.page.html
  apps/total-rewards/app/_main/statement-edit/statement-edit.page/statement-edit.page.scss
  apps/total-rewards/app/shared/components/total-rewards-statement/__snapshots__/total-rewards-statement.component.spec.ts.snap
  apps/total-rewards/app/shared/components/total-rewards-statement/total-rewards-statement.component.html
  apps/total-rewards/app/shared/components/total-rewards-statement/total-rewards-statement.component.scss
  apps/total-rewards/app/shared/components/total-rewards-statement/total-rewards-statement.component.ts
Owners: none

IDEA-884 - updating display
  apps/total-rewards/app/shared/services/total-rewards-assignment.service.ts
Owners: none

IDEA - applying transitions when in preview only
  apps/total-rewards/styles.scss
Owners: none

Back merge Build Fix
  libs/features/survey-search/survey-search-results/survey-search-results.component.ts
Owners: none

Back-merge build fix
  apps/jobs/app/_jobs-page/components/column-templates/pricing-matches-job-title/pricing-matches-job-title.component.ts
Owners: none

ARCH-309.3: Whitelist before/after
  gulpfile.js
Owners: none

IDEA-870
  apps/total-rewards/app/shared/components/trs-calculation-control/trs-calculation-control.component.ts
  apps/total-rewards/app/shared/components/trs-summary-control/__snapshots__/trs-summary-control.component.spec.ts.snap
  apps/total-rewards/app/shared/components/trs-summary-control/trs-summary-control.component.ts
  libs/models/payfactors-api/total-rewards/response/employee-rewards-data.ts
Owners: none

IDEA-860: Indicate how many employees can be assigned
  apps/total-rewards/app/_main/statement-assignment/actions/statement-assignment-modal.actions.ts
  apps/total-rewards/app/_main/statement-assignment/containers/statement-assignment-modal/statement-assignment-modal.component.html
  apps/total-rewards/app/_main/statement-assignment/containers/statement-assignment-modal/statement-assignment-modal.component.scss
  apps/total-rewards/app/_main/statement-assignment/containers/statement-assignment-modal/statement-assignment-modal.component.ts
  apps/total-rewards/app/_main/statement-assignment/effects/statement-assignment-modal.effects.ts
  apps/total-rewards/app/_main/statement-assignment/models/index.ts
  apps/total-rewards/app/_main/statement-assignment/models/statement-assignment-config.model.ts
  apps/total-rewards/app/_main/statement-assignment/statement-assignment.page/statement-assignment.page.html
  apps/total-rewards/app/_main/statement-assignment/statement-assignment.page/statement-assignment.page.ts
  apps/total-rewards/app/shared/fa-icons.ts
Owners: none

Re scope survey data fixes
  apps/jobs/app/_jobs-page/components/column-templates/pricing-matches-job-title/pricing-matches-job-title.component.html
  apps/jobs/app/_jobs-page/components/column-templates/pricing-matches-job-title/pricing-matches-job-title.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-matches-grid/pricing-matches-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-matches-grid/pricing-matches-grid.component.ts
  libs/core/pipes/rate-currency-conversion.pipe.ts
  libs/features/re-scope-survey-data/effects/re-scope-survey-data.effects.ts
  libs/features/re-scope-survey-data/models/re-scope-survey-data-modal-configuration.ts
  libs/features/re-scope-survey-data/re-scope-survey-data/re-scope-survey-data.component.html
  libs/features/re-scope-survey-data/re-scope-survey-data/re-scope-survey-data.component.ts
Owners: none

FORT-494: Add ability to filter JDM library based on Source
  apps/job-description-management/app/_job-description/containers/pages/job-description/job-description.page.ts
  apps/job-description-management/app/shared/components/job-description-library/job-description-library.component.html
  apps/job-description-management/app/shared/components/job-description-library/job-description-library.component.scss
  apps/job-description-management/app/shared/components/job-description-library/jobs-description-library.component.ts
  libs/data/payfactors-api/jdm/job-description-management-api.service.ts
  libs/features/job-description-management/models/requests/library-search-request.model.ts
Owners: none

STRUC-252: Adding the ability to expand/collapse the grid over the split view, useful for Structures but useable by anyone
  apps/structures/app/_job-based-range/employees/employees.page/employees.page.html
  apps/structures/app/_job-based-range/pricings/pricings.page/pricings.page.html
  apps/structures/app/_job-based-range/shared/containers/model-grid/model-grid.component.html
  apps/structures/app/_job-based-range/shared/fa-icons.ts
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.html
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.scss
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.ts
Owners: @Payfactors/normandy

ARCH-309.4: Add pseudo selectors to correct configuration
  gulpfile.js
Owners: none

ENG-321: carry over PricingReviewed filter from jobs details
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-history-grid/pricing-history-grid.component.ts
  apps/jobs/app/_jobs-page/effects/jobs-page.effects.ts
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.ts
  libs/features/pricing-details/effects/pricing-details.effects.ts
Owners: @Payfactors/normandy

STRUC-252: Making the button slightly smaller to prevent overlap with headers
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.scss
Owners: @Payfactors/normandy

IDEA-892 - clear selections after generation
  apps/total-rewards/app/_main/statement-assignment/effects/statement-assignment-page.effects.ts
Owners: none

IDEA-874
  apps/total-rewards/app/shared/components/trs-chart-control/trs-chart-control.component.spec.ts
  apps/total-rewards/app/shared/components/trs-chart-control/trs-chart-control.component.ts
Owners: none

Add CSS to fix the Add Job modal in Structures for Safari
  apps/structures/app/_job-based-range/model/containers/add-jobs-modal/add-jobs-modal-wrapper.component.scss
Owners: none

ENG-367
  libs/features/re-scope-survey-data/re-scope-survey-data/re-scope-survey-data.component.ts
Owners: none

SUP496 & SUP519 - add subsidiary and benefits to loader
  apps/admin/app/_org-data-loader/constants/org-data-filename-constants.ts
  apps/admin/app/_org-data-loader/containers/pages/__snapshots__/manage-field-mappings.page.spec.ts.snap
  apps/admin/app/_org-data-loader/containers/pages/manage-field-mappings.page.html
  apps/admin/app/_org-data-loader/containers/pages/manage-field-mappings.page.ts
  apps/admin/app/_org-data-loader/helpers/org-data-filename-pattern-set-factory.ts
  apps/admin/app/_org-data-loader/models/org-data-filename-pattern-set.model.ts
  apps/data-management/app/_main/components/entity-picker/entity-picker.component.html
  apps/data-management/app/_main/components/entity-picker/entity-picker.component.spec.ts
  apps/data-management/app/_main/components/entity-picker/entity-picker.component.ts
  apps/data-management/app/_main/components/entity-upload/entity-upload.component.spec.ts
  apps/data-management/app/_main/components/file-mapping/file-mapping.component.spec.ts
  apps/data-management/app/_main/components/file-mapping/file-mapping.component.ts
  apps/data-management/app/_main/containers/pages/inbound/inbound-entity-selection/inbound-entity-selection.page.spec.ts
  apps/data-management/app/_main/containers/pages/org-data-load/org-data-load.component.spec.ts
  apps/data-management/app/_main/containers/pages/org-data-load/org-data-load.component.ts
  apps/data-management/app/_main/helpers/payfactors-api-model-mapper.ts
  apps/data-management/app/_main/models/entity-choice.ts
  libs/constants/hris-api/org-data-entity-type.enum.ts
  libs/constants/permissions.ts
  libs/features/org-data-loader/components/field-mapper/field-mapper.component.ts
  libs/features/org-data-loader/constants/loader-settings-keys.enum.ts
  libs/features/org-data-loader/constants/loader-type.enum.ts
  libs/features/org-data-loader/constants/org-data-loader-constants.ts
  libs/features/org-data-loader/helpers/org-data-load-helper.ts
Owners: @PayFactors/integration

ARCH-314: Ensure flag icons display on Quick Price country drop down
  gulpfile.js
Owners: none
