Repository peterjohnson220/Client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @PayFactors/integration, @Payfactors/normandy, @Payfactors/client-dependency-reviewers, @Payfactors/architecture

STRUC-250: Allow multi sort for grids
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-history-grid/pricing-history-grid.component.html
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.html
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.scss
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.ts
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.html
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.ts
Owners: @Payfactors/normandy

Add tooltip message to info-circle icon on structures page
  apps/structures/app/_job-based-range/shared/containers/model-grid/model-grid.component.html
Owners: none

IDEA-823:[Tickets] System Generated Note for New Attachments
  apps/admin/app/_tickets/containers/ticket-comments-detail/ticket-comments-detail.component.html
  apps/admin/app/_tickets/containers/ticket-comments-detail/ticket-comments-detail.component.ts
  apps/admin/app/_tickets/helpers/payfactors-api-model-mapper.ts
  apps/admin/app/_tickets/models/ticket-comment.model.ts
  libs/models/payfactors-api/service/response/user-ticket-response.model.ts
Owners: none

Override target compiler option for JDM to disable differential loading to let it load in IE11
  apps/job-description-management/tsconfig.app.json
  browserslist
Owners: none

STRUC-436 and STRUC-437: Hiding the radio control and replacing it with a bolded label, disabling most fields until pay type is selected. also includes tooltips indicating this.
  apps/structures/app/_job-based-range/shared/constants/model-settings-modal-constants.ts
  apps/structures/app/_job-based-range/shared/containers/range-distribution-setting/range-distribution-setting.component.html
  apps/structures/app/_job-based-range/shared/containers/range-distribution-setting/range-distribution-setting.component.scss
  apps/structures/app/_job-based-range/shared/containers/range-distribution-setting/range-distribution-setting.component.ts
Owners: none

ENG-367
  apps/jobs/app/_jobs-page/components/column-templates/pricing-matches-job-title/pricing-matches-job-title.component.html
  apps/jobs/app/_jobs-page/components/column-templates/pricing-matches-job-title/pricing-matches-job-title.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-matches-grid/pricing-matches-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-matches-grid/pricing-matches-grid.component.ts
  libs/features/pf-data-grid/actions/pf-data-grid.actions.ts
  libs/features/pf-data-grid/reducers/pf-data-grid.reducer.ts
  libs/features/re-scope-survey-data/constants/index.ts
  libs/features/re-scope-survey-data/constants/re-scope-survey-data-page-view-ids.ts
  libs/features/re-scope-survey-data/re-scope-survey-data/re-scope-survey-data.component.html
  libs/features/re-scope-survey-data/re-scope-survey-data/re-scope-survey-data.component.ts
  libs/forms/components/pf-modal-form/__snapshots__/pf-modal-form.component.spec.ts.snap
  libs/forms/components/pf-modal-form/pf-modal-form.component.ts
Owners: @Payfactors/normandy

FORT-535 - Using className.Includes to allow drag and drop to keep functioning when other classes are applied to the element.
  apps/job-description-management/app/_job-description/services/job-description-dnd.service.ts
Owners: none

Adding build time tracker/alert
  Jenkinsfile
Owners: none

TS-524: Remove Quill from Print View
  apps/total-rewards/app/shared/components/trs-rich-text-control/trs-rich-text-control.component.html
  apps/total-rewards/app/shared/components/trs-rich-text-control/trs-rich-text-control.component.spec.ts
  apps/total-rewards/app/shared/components/trs-rich-text-control/trs-rich-text-control.component.ts
Owners: none

Lodash fix from local history revert
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.ts
Owners: none

Show error message when trying to access non-published JD via its public token URL
  apps/job-description-management/app/_job-description/effects/job-description.effects.ts
  apps/job-description-management/app/app-routing.module.ts
  libs/ui/common/error/pages/index.ts
  libs/ui/common/error/pages/public-token-draft-description/index.ts
  libs/ui/common/error/pages/public-token-draft-description/public-token-draft-description-page.component.html
  libs/ui/common/error/pages/public-token-draft-description/public-token-draft-description-page.component.scss
  libs/ui/common/error/pages/public-token-draft-description/public-token-draft-description-page.component.ts
Owners: none

ARCH-315: Ensure tab styling & export icons display on Site Admin pages
  gulpfile.js
Owners: none

ARCH-308: Replace 'EnableUserNotifications' Company Setting
  apps/dashboard/app/app-wrapper.component.html
  apps/dashboard/app/app-wrapper.component.ts
  apps/notifications/app/_main/containers/user-notification-list/user-notification-list.component.html
  apps/notifications/app/_main/containers/user-notification-list/user-notification-list.component.ts
  libs/core/services/feature-flags/feature-flag.helper.ts
  libs/core/services/feature-flags/feature-flag.service.ts
  libs/core/services/feature-flags/feature-flags.ts
  libs/core/services/feature-flags/index.ts
  libs/core/services/feature-flags/launch-darkly/launch-darkly-feature-flag.service.ts
  libs/core/services/index.ts
  libs/features/app-root/app.component.ts
  libs/models/company/company-setting.model.ts
  libs/ui/layout-wrapper/containers/layout-wrapper/layout-wrapper.html
  libs/ui/layout-wrapper/containers/layout-wrapper/layout-wrapper.spec.ts
  libs/ui/layout-wrapper/containers/layout-wrapper/layout-wrapper.ts
Owners: none

Add MRP point to Job based ranges charts in jobs, pricings, and employees view
  apps/structures/app/_job-based-range/employees/containers/employee-salary-range-chart/employee-salary-range-chart.component.ts
  apps/structures/app/_job-based-range/employees/data/employee-range-chart-service.ts
  apps/structures/app/_job-based-range/employees/data/employee-salary-range-chart-series-constants.ts
  apps/structures/app/_job-based-range/model/containers/job-based-range-chart/job-based-range-chart.component.ts
  apps/structures/app/_job-based-range/model/data/job-range-model-chart-series-constants.ts
  apps/structures/app/_job-based-range/model/data/job-range-model-chart.service.ts
  apps/structures/app/_job-based-range/pricings/containers/pricings-salary-range-chart/pricings-salary-range-chart.component.ts
  apps/structures/app/_job-based-range/pricings/data/pricings-salary-range-chart-series-constants.ts
  apps/structures/app/_job-based-range/pricings/data/pricings-salary-range-chart-service.ts
Owners: none

ENG-361
  libs/features/multi-match/components/job-to-price/__snapshots__/job-to-price.component.spec.ts.snap
  libs/features/multi-match/components/job-to-price/job-to-price.component.html
Owners: none

Updated wording of project creation error message
  apps/peer/app/_manage/actions/company-jobs.actions.ts
  apps/peer/app/_manage/components/exchange-job-detail/__snapshots__/exchange-job-detail.component.spec.ts.snap
  apps/peer/app/_manage/components/exchange-job-detail/exchange-job-detail.component.html
  apps/peer/app/_manage/components/exchange-job-detail/exchange-job-detail.component.ts
  apps/peer/app/_manage/containers/company-job-and-exchange-detail/__snapshots__/company-job-and-exchange-detail.component.spec.ts.snap
  apps/peer/app/_manage/containers/company-job-and-exchange-detail/company-job-and-exchange-detail.component.html
  apps/peer/app/_manage/containers/company-job-and-exchange-detail/company-job-and-exchange-detail.component.ts
  apps/peer/app/_manage/containers/confirm-create-project-modal/__snapshots__/confirm-create-project-modal.component.spec.ts.snap
  apps/peer/app/_manage/containers/confirm-create-project-modal/confirm-create-project-modal.component.html
  apps/peer/app/_manage/containers/confirm-create-project-modal/confirm-create-project-modal.component.scss
  apps/peer/app/_manage/containers/confirm-create-project-modal/confirm-create-project-modal.component.spec.ts
  apps/peer/app/_manage/containers/confirm-create-project-modal/confirm-create-project-modal.component.ts
  apps/peer/app/_manage/effects/company-jobs.effects.ts
  apps/peer/app/_manage/fa-icons.ts
  apps/peer/app/_manage/manage.module.ts
  apps/peer/app/_manage/reducers/company-jobs.reducer.ts
  apps/peer/app/_manage/reducers/index.ts
  apps/peer/styles.scss
Owners: none

TS-525: Optimize ngIf in Calculation Control
  apps/total-rewards/app/shared/components/trs-calculation-control/__snapshots__/trs-calculation-control.component.spec.ts.snap
  apps/total-rewards/app/shared/components/trs-calculation-control/trs-calculation-control.component.html
Owners: none

ARCH-316: Ensure user, who is enabled for User Notifications feature, can see notifications
  libs/core/services/feature-flags/feature-flag.helper.ts
  libs/core/services/feature-flags/feature-flag.service.ts
Owners: none

TS-527 TRS print page adds classed node when ready for PDF generation
  apps/total-rewards/app/_print/statement-print/statement-print.page/statement-print.page.html
  apps/total-rewards/app/_print/statement-print/statement-print.page/statement-print.page.ts
  apps/total-rewards/app/shared/components/total-rewards-statement/__snapshots__/total-rewards-statement.component.spec.ts.snap
  apps/total-rewards/app/shared/components/total-rewards-statement/total-rewards-statement.component.html
  apps/total-rewards/app/shared/components/total-rewards-statement/total-rewards-statement.component.ts
  apps/total-rewards/app/shared/components/trs-image-control/trs-image-control.component.html
  apps/total-rewards/app/shared/components/trs-image-control/trs-image-control.component.ts
Owners: none

Revert "SUP496 & SUP519 - add subsidiary and benefits to loader"
  apps/admin/app/_org-data-loader/constants/org-data-filename-constants.ts
  apps/admin/app/_org-data-loader/containers/pages/__snapshots__/manage-field-mappings.page.spec.ts.snap
  apps/admin/app/_org-data-loader/containers/pages/manage-field-mappings.page.html
  apps/admin/app/_org-data-loader/containers/pages/manage-field-mappings.page.ts
  apps/admin/app/_org-data-loader/helpers/org-data-filename-pattern-set-factory.ts
  apps/admin/app/_org-data-loader/models/org-data-filename-pattern-set.model.ts
  apps/data-management/app/_main/components/entity-picker/entity-picker.component.html
  apps/data-management/app/_main/components/entity-picker/entity-picker.component.spec.ts
  apps/data-management/app/_main/components/entity-picker/entity-picker.component.ts
  apps/data-management/app/_main/components/entity-upload/entity-upload.component.spec.ts
  apps/data-management/app/_main/components/file-mapping/file-mapping.component.spec.ts
  apps/data-management/app/_main/components/file-mapping/file-mapping.component.ts
  apps/data-management/app/_main/containers/pages/inbound/inbound-entity-selection/inbound-entity-selection.page.spec.ts
  apps/data-management/app/_main/containers/pages/org-data-load/org-data-load.component.spec.ts
  apps/data-management/app/_main/containers/pages/org-data-load/org-data-load.component.ts
  apps/data-management/app/_main/helpers/payfactors-api-model-mapper.ts
  apps/data-management/app/_main/models/entity-choice.ts
  libs/constants/hris-api/org-data-entity-type.enum.ts
  libs/constants/permissions.ts
  libs/features/org-data-loader/components/field-mapper/field-mapper.component.ts
  libs/features/org-data-loader/constants/loader-settings-keys.enum.ts
  libs/features/org-data-loader/constants/loader-type.enum.ts
  libs/features/org-data-loader/constants/org-data-loader-constants.ts
  libs/features/org-data-loader/helpers/org-data-load-helper.ts
Owners: @PayFactors/integration

Add build throttle as global variable
  Jenkinsfile
  Jenkinsfile_salesdemo
Owners: none

ENG-370
  apps/jobs/app/_jobs-page/components/column-templates/pricing-matches-job-title/pricing-matches-job-title.component.html
  apps/jobs/app/_jobs-page/components/column-templates/pricing-matches-job-title/pricing-matches-job-title.component.scss
  libs/features/re-scope-survey-data/re-scope-survey-data/re-scope-survey-data.component.html
  libs/features/re-scope-survey-data/re-scope-survey-data/re-scope-survey-data.component.ts
Owners: none

IDEA-477
  apps/employees/app/_employee-history/employee-history.page/employee-history.page.html
  apps/employees/app/_employee-history/employee-history.page/employee-history.page.ts
  apps/employees/app/_employees/employees.page/employees.page.html
  apps/employees/app/_employees/employees.page/employees.page.ts
  libs/features/pf-data-grid/actions/pf-data-grid.actions.ts
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.html
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.scss
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.ts
  libs/features/pf-data-grid/effects/pf-data-grid.effects.ts
  libs/features/pf-data-grid/models/grid-config.model.ts
  libs/features/pf-data-grid/reducers/index.ts
  libs/features/pf-data-grid/reducers/pf-data-grid.reducer.ts
Owners: @Payfactors/normandy

STRUC-375: Add new range type fields to field mapping page in manual and autoloader
  apps/admin/app/_org-data-loader/containers/pages/__snapshots__/manage-field-mappings.page.spec.ts.snap
  apps/admin/app/_org-data-loader/containers/pages/manage-field-mappings.page.spec.ts
  apps/admin/app/_org-data-loader/containers/pages/manage-field-mappings.page.ts
  apps/data-management/app/_main/components/file-mapping/file-mapping.component.spec.ts
  apps/data-management/app/_main/components/file-mapping/file-mapping.component.ts
  apps/data-management/app/_main/containers/pages/org-data-load/org-data-load.component.html
  libs/features/org-data-loader/constants/org-data-loader-constants.ts
  libs/features/org-data-loader/models/entity-field-mapping-definition.model.ts
Owners: @PayFactors/integration

Build: adding failfast for parallel step.
  Jenkinsfile
  Jenkinsfile_salesdemo
Owners: none

STRUC-438: Add ability to enter a percentile for midpoint
  apps/structures/app/_job-based-range/shared/containers/model-settings-modal/model-settings-modal.component.spec.ts
  apps/structures/app/_job-based-range/shared/containers/model-settings-modal/model-settings-modal.component.ts
  apps/structures/app/_job-based-range/shared/containers/range-distribution-setting/range-distribution-setting.component.html
  apps/structures/app/_job-based-range/shared/containers/range-distribution-setting/range-distribution-setting.component.ts
  apps/structures/app/_job-based-range/shared/containers/range-rounding/range-rounding-component.spec.ts
  apps/structures/app/_job-based-range/shared/helpers/payfactors-api-model-mapper.ts
  apps/structures/app/_job-based-range/shared/models/range-distribution-setting-form.model.ts
  apps/structures/app/_job-based-range/shared/models/range-group-metadata.model.ts
  libs/models/payfactors-api/structures/request/save-model-settings-request.model.ts
  libs/models/payfactors-api/structures/response/structure-range-group-response.model.ts
Owners: none

STRUC-441: Actions column in JBR & Employee page gets moved to the end after reodering and adding a new column
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.html
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.ts
  libs/features/pf-data-grid/pf-data-grid.component/pf-data-grid.component.ts
  libs/features/pf-data-grid/reducers/index.ts
  libs/features/pf-data-grid/reducers/pf-data-grid.reducer.ts
Owners: @Payfactors/normandy

IDEA-477 scroll fix and jobs pagination issue
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.scss
  libs/features/pf-data-grid/containers/pf-grid/pf-grid.component.ts
  libs/features/pf-data-grid/effects/pf-data-grid.effects.ts
Owners: @Payfactors/normandy

FORT-515: Sort by JDM Library sources
  apps/job-description-management/app/_job-description/containers/pages/job-description/job-description.page.ts
  apps/job-description-management/app/_job-description/fa-icons.ts
  apps/job-description-management/app/shared/components/job-description-library/job-description-library.component.html
  apps/job-description-management/app/shared/components/job-description-library/jobs-description-library.component.ts
  libs/data/payfactors-api/jdm/job-description-management-api.service.ts
  libs/features/job-description-management/models/job-description-library-bucket.model.ts
  libs/features/job-description-management/models/requests/index.ts
  libs/features/job-description-management/models/requests/library-search-request.model.ts
  libs/features/job-description-management/models/requests/sort-direction.model.ts
Owners: none

PEER-586 - [Defects & Enhancements] Show Org Weighted National Avg in Add Data Modal
  libs/features/survey-search/components/job-result/__snapshots__/job-result.component.spec.ts.snap
  libs/features/survey-search/components/job-result/job-result.component.ts
  libs/features/survey-search/helpers/pricing-matches.helper.ts
  libs/features/survey-search/services/survey-search-effects.service.ts
  libs/features/survey-search/survey-search-results/survey-search-results.component.html
  libs/models/payfactors-api/survey-search/request/pricing-matches-request.model.ts
Owners: none

PEER-581 - [ADD DATA MODAL] Peer Data Cuts (to be refined) persist previously selected filter selections
  apps/community/app/_main/containers/community-search-result-modal/__snapshots__/community-search-result-modal.component.spec.ts.snap
  apps/community/app/_main/containers/pages/community-dashboard/__snapshots__/community-dashboard.page.spec.ts.snap
  apps/dashboard/app/_main/components/tile/__snapshots__/tile.component.spec.ts.snap
  apps/legacy-content/app/_peer/containers/pages/upsert-data-cut/upsert-data-cut.page.html
  apps/peer/app/_manage/components/company-job-detail/__snapshots__/company-job-detail.component.spec.ts.snap
  libs/features/peer/exchange-explorer/effects/exchange-explorer.effects.ts
  libs/features/peer/job-association/components/grid-detail-panel/__snapshots__/grid-detail-panel.component.spec.ts.snap
  libs/state/app-context/services/settings.service.ts
Owners: none

Fix cursor for linked paymarkets
  apps/jobs/app/_jobs-page/components/column-templates/pricing-matches-job-title/pricing-matches-job-title.component.html
Owners: none

TS-529: Chart on Statement in preview mode reloads when uses scroll bar
  apps/total-rewards/app/shared/components/trs-chart-control/trs-chart-control.component.ts
Owners: none

PEER-582 - [ADD DATA MODAL] Exchange Scope Selector is disabled when refining a Peer Data Cut from an Exchange that Company Job hasn't been matched in
  apps/admin/app/_org-data-loader/containers/pages/__snapshots__/manage-field-mappings.page.spec.ts.snap
  apps/legacy-content/app/_peer/containers/pages/upsert-data-cut/upsert-data-cut.page.ts
  libs/features/peer/exchange-explorer/actions/exchange-explorer.actions.ts
  libs/features/peer/exchange-explorer/actions/exchange-scope.actions.ts
  libs/features/peer/exchange-explorer/effects/exchange-explorer.effects.ts
  libs/features/peer/exchange-explorer/effects/exchange-scope.effects.ts
  libs/features/peer/exchange-explorer/reducers/exchange-scope.reducer.ts
Owners: @PayFactors/integration

IDEA-888 - Data restrictions in total rewards
  apps/total-rewards/app/_main/statement-assignment/actions/statement-assignment-modal.actions.ts
  apps/total-rewards/app/_main/statement-assignment/actions/statement-assignment.page.actions.ts
  apps/total-rewards/app/_main/statement-assignment/containers/statement-assignment-modal/statement-assignment-modal.component.ts
  apps/total-rewards/app/_main/statement-assignment/effects/statement-assignment-modal.effects.ts
  apps/total-rewards/app/_main/statement-assignment/effects/statement-assignment-page.effects.ts
  apps/total-rewards/app/_main/statement-assignment/reducers/statement-assignment.page.reducer.ts
  apps/total-rewards/app/_main/statement-assignment/statement-assignment.page/statement-assignment.page.html
  libs/data/payfactors-api/total-rewards/total-rewards-assignment-api.service.ts
Owners: none

ENG-372: Sort bit columns in alphabetical order
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-history-grid/pricing-history-grid.component.html
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-history-grid/pricing-history-grid.component.ts
Owners: none

IDEA-901
  apps/service/app/_service/service.page/service.page.html
  apps/service/app/_service/service.page/service.page.ts
Owners: none

Pulled quill.snow.css and quill.min.js into needed app/assets directories to no longer be dependent on CDN
  apps/admin/assets/css/quill.snow.css
  apps/admin/index.html
  apps/job-description-management/assets/css/quill.snow.css
  apps/job-description-management/assets/js/quill.min.js
  apps/job-description-management/index.html
  apps/service/assets/css/quill.snow.css
  apps/service/index.html
  apps/total-rewards/assets/css/quill.snow.css
  apps/total-rewards/index.html
Owners: none

FORT-541: Update Community Favorites UI
  apps/community/app/_main/components/community-post-header/__snapshots__/community-post-header.component.spec.ts.snap
  apps/community/app/_main/components/community-post-header/community-post-header.component.html
  apps/community/app/_main/components/community-post-header/community-post-header.component.ts
  apps/community/app/_main/components/community-post/community-post.component.html
  apps/community/app/_main/components/community-post/community-post.component.scss
  apps/community/app/_main/components/community-post/community-post.component.ts
  apps/community/app/_main/containers/community-categories/community-categories.component.html
  apps/community/app/_main/containers/community-filtered-tags/community-filtered-tags.component.html
  apps/community/app/_main/containers/community-filters/__snapshots__/community-filters.component.spec.ts.snap
  apps/community/app/_main/containers/community-filters/community-filters.component.html
  apps/community/app/_main/containers/community-filters/community-filters.component.scss
  apps/community/app/_main/containers/community-filters/community-filters.component.ts
  apps/community/app/_main/fa-icons.ts
Owners: none

ENG-372: updated error messgae
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-details-grid/pricing-details-grid.component.ts
  apps/jobs/app/_jobs-page/components/jobs-details/job-details-tabs/pricing-history-grid/pricing-history-grid.component.ts
Owners: none

.github/CODEOWNERS:

# For info regarding this file, see: https://help.github.com/en/articles/about-code-owners

/apps/admin/app/_org-data-loader/               @PayFactors/integration
/libs/features/pf-data-grid/                    @Payfactors/normandy
package.json                                    @Payfactors/client-dependency-reviewers
package-lock.json                               @Payfactors/client-dependency-reviewers
angular.json                                    @Payfactors/architecture
